/.idea/
/cmake-build-debug/
/autom4te.cache
/configure
/config.log
/config.status
/Makefile
/Makefile.in
/*.o
/aclocal.m4
/build-aux
/stamp-h1
/m4/
/config.in

# src
/src/Makefile
/src/Makefile.in
/src/*.o
/src/.deps/
