/.idea/
/cmake-build-debug/
/autom4te.cache
/configure
/config.log
/config.status
/Makefile
/Makefile.in
/*.o
/aclocal.m4
/build-aux
/stamp-h1
/m4/
/config.in

/.ccls-cache
/build
/config*
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/*~

# src
/src/Makefile
/src/Makefile.in
/src/*.o
/src/.deps/
/src/ssf
/src/ssf-servers
